@import "tailwindcss";

* {
  font-family: 'Arimo', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}
